*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:steelblue;
}
section{
   text-align: justify;
   letter-spacing: 0.8px;
   word-spacing: 1px;
   line-height: 1.5;
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
   margin: 20px;
   color: black ;
}
ul{
    list-style-type: none;
    overflow: hidden;
}
menu{
    background-color: dimgray;
}
li{
    float: left;
    border: 2px;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: dimgrey;
}
li a:hover{
    background-color: midnightblue;
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh ;
}
.foto{
    width: 25%;
}
h1{
    font-size: 45px;
    text-transform: uppercase;
}
h2{
    font-size: 30px;
}
.detalle{
    border: 2px solid blue;
    width: 300px;
    margin: 20px;
    justify-content: center;
}
.Iconos{
    width: 100%;
}
