*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:cadetblue;
}
section{
   text-align: justify;
   letter-spacing: 0.8px;
   word-spacing: 1px;
   line-height: 1.5;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
   margin: 20px;
   color: rgb(16, 16, 92) ;
}
button{
    background-color: dimgray;
    margin: 4px 2px;
    padding: 5px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition-duration: 0.4s;
}
button:hover {
    background-color: midnightblue;
}
.lista_datos{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    overflow: hidden;
}
menu{
    background-color: dimgray;
}
li{
    float: left;
    border: 2px;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: dimgrey;
}
li a:hover{
    background-color: midnightblue;
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh ;
}
.foto{
    width: 25%;
}
h1{
    font-size: 45px;
    text-transform: uppercase;
}
h2{
    font-size: 30px;
}
i{
    color:rgb(71, 90, 39);    
}
